header{
  grid-template-columns: 250px 1fr 250px;
  grid-template-areas:
     "logo menu button"; 
  grid-gap:5px;   

}
.logo{
  margin:5%;
}
.cta-button button{
  padding:.5rem 2rem; 
  margin: 0 5%;
  font-size: 1rem;
}     
nav ul li a {
    line-height:1rem;
    font-size: .8rem;
    }

h1 {
      font-size: 2.5rem;
    }    