// ----------------- Header -------------------------------------------------
header{
    grid-template-columns: 250px 1fr;
    grid-template-areas:
       "logo menu"
       "logo button"; 

}
.smalllogo{
    display:none;
}
.logo{
    display:block;
    margin:0 0 0 5%;
    grid-area: logo;
}
header img {
        max-width:100%;
    } 
   
.cta-button button{
        padding:.5rem 2rem; 
        margin: 0 0 1rem 0;
        line-height: 1.5rem;
        font-size: 1.2rem;
    }     
// ----------- Navigation -------------------
nav{
    grid-area: menu;
}
nav button {display:none;}  
.hide{
    display: flex;
    }
nav ul{
    padding:1rem;
    border-radius: 10px;
}    
nav ul li { flex: 1 1 100%; }
nav ul li a {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    line-height:1rem;
    font-size:1.3rem;
    
}
// ---------------- End Header ------------------------------

// ----------------- Main -----------------------------------
h1 {
        font-size: 2rem;
        font-weight: 700;
      }    


// -------------------- Home Page Hero Image and Text -------------------------------

.homeHeroContainer {

    display:block;
    // flex-direction: column-reverse;
  }
  .templeTitle{
    padding:1rem 1rem .3rem 1rem;
  } 
.templeInfoShort {
    position: absolute;
    margin:2rem;

       
 }  
//-------------------------- End Hero --------------------------------------------------        