// ----------------- Header -------------------------------------------------
header{
    grid-template-columns: 250px 1fr;
    grid-template-areas:
       "logo menu"
       "logo button"; 

}
.smalllogo{
    display:none;
}
.logo{
    display:block;
    margin:0 0 0 5%;
    grid-area: logo;
}
header img {
        max-width:100%;
    } 
   
.cta-button button{
        padding:.5rem 2rem; 
        margin: 0 0 1rem 0;
        line-height: 1.5rem;
        font-size: 1.2rem;
    }     
// ----------- Navigation -------------------
nav{
    grid-area: menu;
}
nav button {display:none;}  
.hide{
    display: flex;
    }
nav ul{
    padding:1rem;
    border-radius: 10px;
}    
nav ul li { flex: 1 1 100%; }
nav ul li a {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    line-height:1rem;
    font-size:1.3rem;  
}


// ---------------- End Header ------------------------------

// ----------------- Main -----------------------------------
h1 {
        font-size: 2rem;
        font-weight: 700;
      }    


// -------------------- Home Page Hero Image and Text -------------------------------

.homeHeroContainer {

    display:block;
    // flex-direction: column-reverse;
  }
.templeTitle{
    padding:1rem 1rem .3rem 1rem;
  } 
.templeInfoShort {
    position: absolute;
    margin:2rem;     
 }  
.templeInfoShort button{
    display: none;
} 
 .hideInfo{
    display:block;

  } 
//-------------------------- End Hero --------------------------------------------------    

//-------------------------- Home Page Link Section --------------------------------------------------
.linkSection{
    grid-template-columns: 1fr 1fr;
  }
 
// -----------------------------End Home Page Link Section----------------------------------  
//-------------------------------Home Page Contact Section -------------------------------------
.homeContact1 p {
    margin: .2rem 0 1rem 0;
  }
//--------------------------------Footer Navigation--------------------------------------------
.homeHide{
    display:block;
  }   


// -------------------- Temple Page Hero Image and Text -------------------------------

.templeHeroContainer {
  width:100%;
  margin:auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-color:$cream;
}
.infoContainer{
  grid-column: span 2;
  z-index: 1;
  
}
.templeName{
    padding:1rem 1rem .3rem 1rem;
  } 

.templeHeroContainer img {
  max-width: 90%;
  grid-column: span 2;
  margin:auto;
  border-radius: 10px;
}
//---------------------------History-------------------------------------------------
.templeHistory{
  grid-column: span 2;
  width: 90%;
  background-color:white;
  border-radius: 10px;
  justify-self: center;
  margin: 1rem auto;
  padding:1rem;
  box-shadow: $shadow;
}   

//--------------------------Forecast -----------------------------------------------
.templeForcast {
    max-width:90%;
    grid-column: span 2;
    list-style-type: none;
    // display:grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin:1rem auto;
    padding: 0;
    overflow:hidden;
   }  
//---------------------------- Schedules ----------------------------------------------------
.templeSchedule, .templeServices{
  width: 80%;
  background-color:white;
  border-radius: 10px;
  justify-self: center;
  margin: 1rem auto;
  padding:1rem;
  box-shadow: $shadow;
}   
.templeServices ul, .templeClosures ul {
  
  line-height: 1.5rem;
 
}
.templeClosures{
  text-align: center;
  grid-column: span 2;
  width: 90%;
  background-color:white;
  border-radius: 10px;
  justify-self: center;
  margin: 1rem auto;
  padding:1rem;
  box-shadow: $shadow;
}  