/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */


html{
    font-family:$bodycopy;
  }

header{
  max-width: 100%;
    text-align: center;
    background-image:url("../images/temple-background-texture-02.jpg");
    background-color: $cream;
    margin: 0 auto;
    align-items:center; 
    justify-content:center;
    display: grid;
    grid-gap: 10px; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
       "logo button"
       "logo menu"; 

}  
  .smalllogo{
    padding:1rem;
    grid-area: logo;
    margin-left: 2%;
}

.logo{
    display:none;
}
  .show {
      color: $navy;
      font-size: 1rem;
      text-align: center;
      display:block;
    }

.cta-button{
    grid-area: button;
    
}    
.cta-button button{
    margin:1rem 1rem 0 1rem;
    background-color:$buttoncolor;
    color:$navy;
    padding:.5rem;
    border-radius: 10px;
    font-family:$headings;
    border:1px solid rgba(0, 0, 0, 0.3);
    
} 
header img {
      max-width: 150px;
    
  } 
  nav {

      text-align: center;
    /*box-shadow: 0 2px 15px gray;*/
  }
  nav button {
    background-color: transparent;
    border: none;
    color: $navy;
    font-size: 2.5rem;
    padding: .2rem 2rem;
  }
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  .hide {
    display: none;
  }
  nav li a {
    display: block;
    color: $navy;
    text-align: center;
    padding: 0.9rem 2%;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 600;
    line-height:2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  nav ul li a:hover {
      background-color: rgba(225, 225, 225, 0.5);
  }
  nav ul li .active {
      color:$buttoncolor;
      background-color: rgba(0, 0, 0, 0.2);
  }
  main, footer {
    max-width: 1080px; 
    margin: 0 auto; 
  }
  
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0.4rem;
      font-family:$headings;
    }
    h1, h2, h3, h4, h5, h6 {
      color:$cream;
      font-family:$headings;
      padding: 1rem;
      margin:0;
    }

 footer {
        text-align: center;
        background-image:url("../images/temple-background-texture-02.jpg");
        background-color: $cream;
        color: $navy;
        margin: 0 auto;
        display:flex; 
        flex-direction: row;
        align-items:center; 
        justify-content:center;    
 }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}