/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */


html{
    font-family:  'Source Sans Pro', sans-serif;
  }
  
  .show {
      color: #273C49;
      font-size: 1rem;
      background: rgb(205,229,126);
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(205,229,126,1) 0%,rgba(185,207,167,1) 100%); 
      background: radial-gradient(ellipse at center,  rgba(205,229,126,1) 0%,rgba(185,207,167,1) 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde57e', endColorstr='#b9cfa7',GradientType=1 );
      text-align: center;
      display:block;
    }
  
  
    header, footer {
      text-align: center;
      background-image:url("../images/temple-background-texture-02.jpg");
      background-color: #f4f5e3;
      color: white;
      margin: 0 auto;
      display:flex; 
      flex-direction: row;
      align-items:center; 
      justify-content:center;
    }
  
    header img {
      max-width: 100px;
    
  } 
  nav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b9cfa7+6,a2b290+100 */
    background: rgb(185,207,167); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(185,207,167,1) 6%, rgba(162,178,144,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(185,207,167,1) 6%,rgba(162,178,144,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(185,207,167,1) 6%,rgba(162,178,144,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cfa7', endColorstr='#a2b290',GradientType=0 ); /* IE6-9 */
  
      /*background-color: #B9CFA7;*/
      text-align: center;
    /*box-shadow: 0 2px 15px gray;*/
  }
  nav button {
    margin: 1.5rem 2%;
    background-color: transparent;
    border: none;
    color: #273C49;
    font-size: 1.6rem;
  }
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  .hide {
    display: none;
  }
  nav li a {
      display: block;
      color: #273C49;
      text-align: center;
      padding: 0.9rem 2%;
      text-decoration: none;
    font-size: 0.95rem;
    font-weight: 600;
    line-height:2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  nav ul li a:hover {
      background-color: #426F68;
      color: white;
  }
  nav ul li .active {
      color:#6D1A36;
  }
  main, footer {
    max-width: 1080px; 
    margin: 0 auto; 
  }
  
  
  
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0.4rem;
      font-family: 'Arvo', serif;
    }
    h1, h2, h3, h4, h5, h6 {
      color: white;
      font-family: 'Arvo', serif;
      padding: 1rem;
      margin:0;
    }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}