/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */


html{
    font-family:$bodycopy;
  }


  // ----------------- Header -------------------------------------------------


header{
  max-width: 100%;
    text-align: center;
    background-image:url("../images/temple-background-texture-02.jpg");
    background-color: $cream;
    margin: 0 auto;
    align-items:center; 
    justify-content:center;
    display: grid;
    grid-gap: 10px; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
       "logo button"
       "logo menu"; 

}  
  .smalllogo{
    padding:1rem;
    grid-area: logo;
    margin-left: 2%;
}

.logo{
    display:none;
}
  .show {
      color: $navy;
      font-size: 1rem;
      text-align: center;
      display:block;
    }

.cta-button{
    grid-area: button;
    
}    
.cta-button button{
    margin:1rem 1rem 0 1rem;
    background-color:$buttoncolor;
    color:$navy;
    padding:.5rem;
    border-radius: 10px;
    font-family:$headings;
    border:1px solid rgba(0, 0, 0, 0.3);
    
} 
.cta-button button:hover{
  box-shadow: $shadow;
}
header img {
      max-width: 150px;
    
  } 

// ----------- Navigation -------------------
  nav {

      text-align: center;
    /*box-shadow: 0 2px 15px gray;*/
  }
  nav button {
    background-color: transparent;
    border: none;
    color: $navy;
    font-size: 2.5rem;
    padding: .2rem 2rem;
  }
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  .hide {
    display: none;
  }
  nav li a {
    display: block;
    color: $navy;
    text-align: center;
    padding: 0.9rem 2%;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 600;
    line-height:2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  nav ul li a:hover {
      background-color: rgba(225, 225, 225, 0.5);
  }
  nav ul li .active {
      color:$buttoncolor;
      background-color: rgba(0, 0, 0, 0.2);
  }
.hideDropDown{
  display: none;
}  
// ---------------- End Header ------------------------------

// ----------------- Main -----------------------------------
main, footer {
    max-width: 1080px; 
    margin: 0 auto; 
  }
   h1 {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0.4rem;
      font-family:$headings;
    }
 h1, h2, h3, h4, h5, h6 {
      color:$navy;
      font-family:$headings;
      padding:1rem;
      margin:0;
    }

// -------------------- Home Page Hero Image and Text -------------------------------

.homeHeroContainer {
  position: relative;
  text-align: center;
  display:flex;
  flex-direction: column-reverse;
  color:$navy;
}
.templeTitle{
  padding:0;
}
.templeInfoShort {
  background: rgba(250, 248, 248, 0.5);
  border-radius: 10px ;
  margin:1rem;
}
.templeleft{
  font-family:$headings;
  // color:$navy;
}
.templeright{
  padding:0 0 2% 0;
}
.templeright a{
  text-decoration: none;
  color:$navy;
}
.templeright a:hover{
  background-color: $navy;
  color:$cream;
}
.templeright a:visited{
  color:$buttoncolor;
  background-color: rgba(0, 0, 0, 0.2);
}
.homeHeroImage img {
  max-width: 100%;
  overflow: hidden;
}

// ---------------------- Temple Info Grid ------------------------------------------

#templeDropDown {
  list-style:none;
  padding: .5rem;
  margin: 0 0 1rem 0;
  line-height: 1.5rem;
}
.hideInfo{
  display:none;
  list-style:none;
  padding: .5rem;
  margin: 0 0 1rem 0;
  line-height: 1.5rem;
}
.templeInfoShort button{
  background-color: transparent;
  border: none;
  color: $navy;
  font-size: 2.5rem;
  padding: .2rem 2rem;
} 
//-------------------------- End Hero --------------------------------------------------

//-------------------------- Home Page Link Section --------------------------------------------------
.mapBackground{
  background-image:url("../images/temple-background-texture-02.jpg");
}
.linkSection{
  display:grid;
}
.linkSection div{
  max-width: 100%;
  background-color: $cream;
  margin:1rem auto 0 auto; 
}
.linkSection div:hover{
  box-shadow: $shadow;
}
.linkSection div a{
  text-decoration: none;
}

.linkSection img{
  max-width: 100%;
}
.linkSection div a h2, .linkSection div a p{
 padding-left: 1rem;
}
.linkSection div a p{
  color:$buttoncolor;
}
.linkSection div a p:hover{
  color:$navy;
}

// -----------------------------End Home Page Link Section----------------------------------

// ----------------------------- Home Page Button Section----------------------------------
.cta-button-full button{
  width: 100%;
  margin:1rem auto;
  background-color:$buttoncolor;
  color:$navy;
  padding:.5rem;
  border-radius: 10px;
  font-family:$headings;
  border:1px solid rgba(0, 0, 0, 0.3);
}
.cta-button-full button:hover{
  box-shadow:$shadow;
}









 footer {
        text-align: center;
        background-image:url("../images/temple-background-texture-02.jpg");
        background-color: $cream;
        color: $navy;
        margin: 0 auto;
        display:flex; 
        flex-direction: row;
        align-items:center; 
        justify-content:center;    
 }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}