@media (min-width: 32.5em){
    header img {
      max-width: 150px;
      padding-left:.5em;
      margin-left: 1.5em; 
  } 
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  nav button {display:none;}
  .hide{
    display: flex;
  }
  nav ul li { flex: 1 1 100%; }
  nav ul li a {border:none;
  line-height:1rem;
  font-size:1.3rem;}



}