@media (min-width: 32.5em){
  header img {
    max-width: 150px;
    padding-left:.5em;
    margin-left: 1.5em; 
} 
h1 {
  padding-left: 3rem;
  font-size: 2rem;
  font-weight: 700;
}
nav button {display:none;}
.hide{
  display: flex;
  /*flex-flow:row wrap; 
  align-items:center; 
  justify-content:space-around;*/
}
nav ul li { flex: 1 1 100%; }
nav ul li a {border:none;}

}