header,
footer {
  text-align: center;
  background-color: #426F68;
  color: #E3E1CE;
  max-width: 100%;
  margin: 0 auto;
}
header {
  display:flex; 
  flex-flow:row wrap; 
  align-items:center; 
  justify-content:center;
}
.headings {
	display: flex;
	flex-direction: column;
}
.ltheader {
  color: #E3E1CE;
  text-align: center;
  border: none;
  font-style: italic;
  letter-spacing: 1pt;
  font-size: .9rem;
  padding-bottom: 1rem;
}
header img {
    max-width: 100px;  
} 
#logocap {
  text-align: center;
}
h1 {
  color: #E3E1CE;
  font-family: 'Arvo', serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 0rem 2%;
}
nav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b9cfa7+6,a2b290+100 */
  background: rgb(185,207,167); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(185,207,167,1) 6%, rgba(162,178,144,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(185,207,167,1) 6%,rgba(162,178,144,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(185,207,167,1) 6%,rgba(162,178,144,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cfa7', endColorstr='#a2b290',GradientType=0 ); /* IE6-9 */

	/*background-color: #B9CFA7;*/
	text-align: center;
  /*box-shadow: 0 2px 15px gray;*/
}
nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  color: #273C49;
  font-size: 1.6rem;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.hide {
  display: none;
}
nav li a {
	display: block;
	color: #273C49;
	text-align: center;
	padding: 0.9rem 2%;
	text-decoration: none;
  font-size: 0.95rem;
  font-weight: 600;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li a:hover {
	background-color: #426F68;
	color: #E3E1CE;
}
nav ul li .active {
	color:#6D1A36;
}
main {
  max-width: 100%;
  padding-top: 1rem;
}
.h2h3 {
  text-align: center;
  font-weight: 600;
}
.fl {
  display:flex; 
  flex-flow:row wrap; 
  align-items:center; 
  justify-content:space-evenly;
}
footer, header {
  padding-top: .25rem;
  padding-bottom: .25rem;
}
h2, h3, h4, h5 {
  color: #426F68;
  font-family: 'Arvo', serif;
  padding: 1rem
}
a {
  color: white;
} 
ul, ol {
  color: #273C49;
  font-family: 'Open Sans', sans-serif;
}
.footertext {
  color: white;
}
#headercolor {
  background-color: #426F68;
  border: #273C49 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  margin: 1rem;
}
#navigation {
  background-color: #B9CFA7;
  border: #273C49 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  margin: 1rem;
}
#hd {
  background-color: white;
  border: #273C49 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  margin: 1rem;
}
#ph {
  background-color: white;
  border: #273C49 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  margin: 1rem;
}
.lt {
  color: white;
}
.dk {
  color: #273C49;
}
.med {
  color: #426F68;
}
#typepic {
  border: #273C49 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  margin: 1rem;
}
ol li {
  padding: 0.5rem;}
p {
  color: #273C49;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem;
}
