@media only screen and (min-width: 65em){
  header img {
    max-width: 200px;  
} 
  h1 {
    font-size: 2.5rem;
  }
  .town-data {
    width:90%;
    grid-template-columns:1fr 1fr 1fr;
  }
  
  .town-data section{
    width:80%;
      flex-direction: column;
    }
  
    .town-data section:nth-child(even) {
      flex-direction:column;
     
    }

}