@media (min-width: 32.5em){
  header img {
    max-width: 150px;
    padding-left:.5em;
    margin-left: 1.5em; 
} 
h1 {
  font-size: 2rem;
  font-weight: 700;
}
nav button {display:none;}
.hide{
  display: flex;
}
nav ul li { flex: 1 1 100%; }
nav ul li a {border:none;}

.h2h3{
  width:80%;
  margin:auto;
}
h2 {
  font-size: 2rem;
  text-align: center;
  padding: .5rem 0;
}
.town-data {
  width:90%;
  margin:0 auto;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  justify-items:center;
}


}

