.show {
  color: #273C49;
  font-size: 1rem;
  background: rgb(205,229,126);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(205,229,126,1) 0%,rgba(185,207,167,1) 100%); 
  background: radial-gradient(ellipse at center,  rgba(205,229,126,1) 0%,rgba(185,207,167,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde57e', endColorstr='#b9cfa7',GradientType=1 );
  text-align: center;
  display:block;
}
.hidepancake{
  visibility: hidden;
  display: none;
}

header, footer {
  text-align: center;
  background-color: #273C49;
  color: white;
  margin: 0 auto;
  display:flex; 
  flex-direction: row;
  align-items:center; 
  justify-content:center;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.4rem;
  font-family: 'Arvo', serif;
}
h1, h2, h3, h4, h5 {
  color: white;
  font-family: 'Arvo', serif;
  margin:0;
}
.headings {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ltheader {
  color: white;
  text-align: center;
  border: none;
  font-style: italic;
  letter-spacing: 1pt;
  font-size: .9rem;
  padding-bottom: 1rem;
}
header img {
    max-width: 100px;
  
} 
nav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b9cfa7+6,a2b290+100 */
  background: rgb(185,207,167); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(185,207,167,1) 6%, rgba(162,178,144,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(185,207,167,1) 6%,rgba(162,178,144,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(185,207,167,1) 6%,rgba(162,178,144,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cfa7', endColorstr='#a2b290',GradientType=0 ); /* IE6-9 */

	/*background-color: #B9CFA7;*/
	text-align: center;
  /*box-shadow: 0 2px 15px gray;*/
}
nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  color: #273C49;
  font-size: 1.6rem;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.hide {
  display: none;
}
nav li a {
	display: block;
	color: #273C49;
	text-align: center;
	padding: 0.9rem 2%;
	text-decoration: none;
  font-size: 0.95rem;
  font-weight: 600;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li a:hover {
	background-color: #426F68;
	color: white;
}
nav ul li .active {
	color:#6D1A36;
}
main, footer  {
  max-width: 100%; 
  margin: 0 auto; 
}
main{
  max-width: 100%;
  margin:auto;
  padding:1rem;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#273c49+0,426f68+51,b9cfa7+99 */
background: rgb(39,60,73); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(39,60,73,1) 0%, rgba(66,111,104,1) 51%, rgba(185,207,167,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(39,60,73,1) 0%,rgba(66,111,104,1) 51%,rgba(185,207,167,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(39,60,73,1) 0%,rgba(66,111,104,1) 51%,rgba(185,207,167,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273c49', endColorstr='#b9cfa7',GradientType=0 ); /* IE6-9 */

  /* background-color: #426F68; */
  
}
.h2h3 {
  text-align: center;
  color: white;
}
.heroContainer{
  display: none;
}
h2{
  font-weight: 600;
  text-align: center;
  padding:0 0 .5rem 0;
}
h3{
  font-weight: 600;
  text-align: center;
  padding:0 0 .5rem 0;
  font-size: 1.7rem;
}
h4{
  font-weight: 600;
  text-align: center;
  padding:0 0 .5rem 0;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.towns{
  width:100%;
}

.town-data {
  width:100%;
  margin:0 auto;
  display: grid;
  grid-template-columns:1fr;
  justify-items:center;
}
.towns section{
  background-color: rgba(0, 0, 0, 0.3);
  margin: .5rem;
  padding: 1rem;
  border-radius: 5px;
  border: solid 3px rgba(0, 0, 0, 0.5)
}
.town-data section{
  width:90%;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
}
.town-data section p {
  text-align: center;
}
img{
  width: 100%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}
.motto{
  font-style: italic; 
}
.logo{
  box-shadow: none;
}
p {
  color:white;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 0.5rem 0;
  margin:.5rem;
}

