html {
  min-height: 100%;
  background-color: #0769ad;
  box-shadow: 0 0 8px 4px #06599d inset; }

body {
  font-size: 16px;
  font-family: 'Arvo', serif; }

  h1{
  padding:1rem;
  margin:1rem;
  text-align: center;
  color:white;
  letter-spacing: .1rem;
}

#content {
  overflow: auto;
  width: 80%;
  background-color: #fff;
  margin: 30px auto 0 auto;
  padding: 20px 30px;
  border-radius: 8px;
  }

h2 {
  border-bottom: 1px solid #aaa; }

.thanks  {
  color:#720D23;
  font-size: 4rem;
}
.thanks1  {
  display:none;
  color:#A01717;
  font-size: 4rem;
}
.thanks2  {
  display:none;
  color:#FAAF04;
  font-size: 4rem;
}
.thanks3  {
  display:none;
  color:#E86C10;
  font-size: 4rem;
}
.thanks4  {
  display:none;
  color:#917605;
  font-size: 4rem;
}
.turkey img{
  width:300px;
  margin: 0 auto;
 
}
.clear {
  clear: both; }