@media (min-width: 32.5em){
  header img {
    max-width: 150px;
    padding-left:.5em;
    margin-left: 1.5em; 
} 
h1 {
  font-size: 2rem;
  font-weight: 700;
}
nav button {display:none;}
.hide{
  display: flex;
}
nav ul li { flex: 1 1 100%; }
nav ul li a {border:none;}
.prestonmid, .prestonbottom {
  display:flex; 
  flex-direction:row;
  align-items:center; 
  justify-content:center;
}
.leftcol, .rightcol {
  flex:1 1 100%;
}
#middlesectionpic, #bottomsectionpic {
  width:450px;
  padding:5px;
  box-shadow:8px 8px 8px #8c615a;
  border-radius:15px;}  
}