header {
  text-align: center;
  background-color: #426F68;
  color: white;
  margin: 0 auto;
  display:flex; 
  flex-direction: row;
  align-items:center; 
  justify-content:center;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.4rem;
}
h1, h2, h3, h4, h5 {
  color: white;
  font-family: 'Arvo', serif;
  padding: 1rem;
  margin:0;
}
.headings {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ltheader {
  color: white;
  text-align: center;
  border: none;
  font-style: italic;
  letter-spacing: 1pt;
  font-size: .9rem;
  padding-bottom: 1rem;
}
header img {
    max-width: 100px;
  
} 
nav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b9cfa7+6,a2b290+100 */
  background: rgb(185,207,167); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(185,207,167,1) 6%, rgba(162,178,144,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(185,207,167,1) 6%,rgba(162,178,144,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(185,207,167,1) 6%,rgba(162,178,144,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cfa7', endColorstr='#a2b290',GradientType=0 ); /* IE6-9 */

	/*background-color: #B9CFA7;*/
	text-align: center;
  /*box-shadow: 0 2px 15px gray;*/
}
nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  color: #273C49;
  font-size: 1.6rem;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.hide {
  display: none;
}
nav li a {
	display: block;
	color: #273C49;
	text-align: center;
	padding: 0.9rem 2%;
	text-decoration: none;
  font-size: 0.95rem;
  font-weight: 600;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li a:hover {
	background-color: #426F68;
	color: white;
}
nav ul li .active {
	color:#6D1A36;
}
main, footer  {
  max-width: 1080px; 
  margin: 0 auto; 
}
.cloud, .hero {
  max-width:100%;
}
.h2h3 {
  text-align: center;
  font-weight: 600;
  color: #273C49
}
.prestontop {
  position: relative;
  text-align: center;
  color: #273C49;
}
.weathersum {
  position: absolute;
  background: rgba(250, 248, 248, 0.75);
  border-radius: 10px ;
  top: 30px;
  left: 30px;
  max-width: 48%;
}
.dk {color:#273C49;}
.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style:none;
  padding: .5rem;
  margin: 0 0 1rem 0;
  line-height: 1.5rem;
}
.weatherleft {
  text-align: end;
}
.weatherright{
  text-align: start;
  margin-left: 1rem;
}
#fiveday{
  background-color: #426F68;
}
.days {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  text-align: center;
  max-width: 100%;
}
#dayone, #daytwo, #daythree, #dayfour, #dayfive {
  background-color: #273c49;
  border: #273C49 1px;
  border-radius: 15px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.forecasthead {
  text-align: center;
  color:white;
}
.prestonmid {
  border:2px solid #273C49;
  background-color:#273C49;
}
.prestonmid, .prestonbottom {
  display:flex; 
  flex-direction:column;
  align-items:stretch; 
  justify-content:stretch;
}
.rightcol, .leftcol {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
#middlesectionpic {
  max-width: 100%;
}

a {
  color: white;
} 
p {
  color:white;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem;
  margin:0;
}
footer {
  text-align: center;
  background-color: #426F68;
  color: white;
}
.footertext {
  color: white;
}
