.show {
  color: #273C49;
  font-size: 1rem;
  background: rgb(205,229,126);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(205,229,126,1) 0%,rgba(185,207,167,1) 100%); 
  background: radial-gradient(ellipse at center,  rgba(205,229,126,1) 0%,rgba(185,207,167,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde57e', endColorstr='#b9cfa7',GradientType=1 );
  text-align: center;
  display:block;
}
.hidepancake{
  visibility: hidden;
  display: none;
}

header, footer {
  text-align: center;
  background-color: #273C49;
  color: white;
  margin: 0 auto;
  display:flex; 
  flex-direction: row;
  align-items:center; 
  justify-content:center;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.4rem;
  font-family: 'Arvo', serif;
}
h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Arvo', serif;
  padding: 1rem;
  margin:0;
}
.headings {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ltheader {
  color: white;
  text-align: center;
  border: none;
  font-style: italic;
  letter-spacing: 1pt;
  font-size: .9rem;
  padding-bottom: 1rem;
}
header img {
    max-width: 100px;
  
} 
nav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b9cfa7+6,a2b290+100 */
  background: rgb(185,207,167); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(185,207,167,1) 6%, rgba(162,178,144,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(185,207,167,1) 6%,rgba(162,178,144,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(185,207,167,1) 6%,rgba(162,178,144,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cfa7', endColorstr='#a2b290',GradientType=0 ); /* IE6-9 */

	/*background-color: #B9CFA7;*/
	text-align: center;
  /*box-shadow: 0 2px 15px gray;*/
}
nav button {
  margin: 1.5rem 2%;
  background-color: transparent;
  border: none;
  color: #273C49;
  font-size: 1.6rem;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.hide {
  display: none;
}
nav li a {
	display: block;
	color: #273C49;
	text-align: center;
	padding: 0.9rem 2%;
	text-decoration: none;
  font-size: 0.95rem;
  font-weight: 600;
  line-height:2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li a:hover {
	background-color: #426F68;
	color: white;
}
nav ul li .active {
	color:#6D1A36;
}
main, footer {
  max-width: 1080px; 
  margin: 0 auto; 
}
.h2h3 {
  text-align: center;
  font-weight: 600;
  color: #273C49
}
.h2h3 h2{
  padding:1rem 0 0 0;
}
.prestontop {
  position: relative;
  text-align: center;
  color: #273C49;
}
#herocontainer {
  overflow: hidden;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100px;   
}
.hero{
  grid-column:span 5; grid-row:span 3; z-index: -1;
  margin:0;
}
.hero img{
  height: 100%;
  }
.weathersum {
  position: absolute;
  background: rgba(250, 248, 248, 0.75);
  border-radius: 10px ;
  grid-column:span 3; grid-row:span 3; z-index: 1;
  margin:1rem;
 
}
.lt{
  color:white;
}
.dk {color:#273C49;}
.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:0.5rem 1rem;
  list-style:none;
  padding: .5rem;
  margin: 0 0 1rem 0;
  line-height: 1.5rem;
}
.weatherleft {
  text-align: end;
}
.weatherright{
  text-align: start;
  margin-left: 1rem;
}
#fiveday{
  display:none;
}
#fiveday img{
  width:50%;
}
.forecasthead {
  text-align: center;
  color:white;
}
.prestonmid {
  background-color: #273C49;
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.pumpkin {
  overflow: hidden;
}

#middlesectionpic {
  max-width: 100%;
}
#presart, #contact{
  margin-left: 1rem;
}
.contactgrid{
  background-color: #426F68;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-items: center;
  text-align: center;
}
.griditem1 {
  display: none;
}
.griditem2, .griditem3, .griditem4 {
  display:block;
  width: 100%;
}
.social{
  padding:1rem;
  margin:0;
}
.social li {
  display:inline-block;
}
.social li a {
  color: white;
  padding:.2rem;
} 


/* Form */
.gradientMain{
  max-width: 1080px; 
  margin:auto;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#273c49+0,426f68+51,b9cfa7+99 */
background: rgb(39,60,73); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(39,60,73,1) 0%, rgba(66,111,104,1) 51%, rgba(185,207,167,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(39,60,73,1) 0%,rgba(66,111,104,1) 51%,rgba(185,207,167,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(39,60,73,1) 0%,rgba(66,111,104,1) 51%,rgba(185,207,167,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273c49', endColorstr='#b9cfa7',GradientType=0 ); /* IE6-9 */

  /* background-color: #426F68; */
  
}

form label.top , form div {
  display: block;
  padding-top: 1rem;
  color: white;
  font-size: .8rem;
  margin:2%;
}
form label.top input, form label.top select, #comments {
  -webkit-appearance: none;
  display: block;
  font-size:1rem;
  border-radius: 4px;
  padding:.75rem;
  color:#555;
  width:90%;
  max-width: 20rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 5px 5px rgba(0,0,0, 0.4);
}
form label.sbs{
  -webkit-appearance: none;
  display: block;
  font-size:1rem;
  border-radius: 4px;
  border:solid 1px rgba(255, 255, 255, 0.3);
  padding:.75rem;
  color:#273C49;
  width:90%;
  max-width: 20rem;
  background-color: rgba(255, 255, 255, 0.3);
  margin:.5rem;
}
form label.sbs input, form label.sbs select {
  padding:.5rem;
}
form input.submitbutton{
  border:none;
  /* background-color: #273C49; */
  color:white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin:0 0 2rem 2%;
  width:96%;
  max-width: 20rem;
  margin:1rem;
  box-shadow: 3px 5px 5px rgba(0,0,0, 0.7);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#273c49+0,426f68+99,426f68+99,426f68+99 */
background: rgb(39,60,73); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(39,60,73,1) 0%, rgba(66,111,104,1) 99%, rgba(66,111,104,1) 99%, rgba(66,111,104,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(39,60,73,1) 0%,rgba(66,111,104,1) 99%,rgba(66,111,104,1) 99%,rgba(66,111,104,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(39,60,73,1) 0%,rgba(66,111,104,1) 99%,rgba(66,111,104,1) 99%,rgba(66,111,104,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273c49', endColorstr='#426f68',GradientType=0 ); /* IE6-9 */
}

form label.top input:required {
  border-left:#6D1A36 solid 6px;
}
form label.top input:required:valid{
  border-left: #B9CFA7 solid 6px;
  background-color: rgba(255, 255, 255, 0.8);

}
/* form label .danger {
	display: flex;
  align-items: center;
  color: white;
  font-size: .8rem;
} */
.severity{
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size:1rem;
  border:solid 1px rgba(255, 255, 255, 0.3);
  padding:.75rem;
  color:white;
  width:90%;
  max-width: 20rem;
  background-color: rgba(255, 255, 255, 0.3);
  margin:.5rem;

}
/* Thanks page */
.thanks {
  text-align: center;
  color: white;
  margin: 0 auto;
  display:flex; 
  flex-direction: row;
  align-items:center; 
  justify-content:center;
  padding:20% 1rem;
}
.thanks img{
  box-shadow: none;
  max-width:300px;
}
.thanksfooter {
  width: 100%;
  padding:1rem;
}
/* end thanks page */
p , footer a{
  color:white;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem;
  margin:0;
  text-decoration: none;
}
footer a {
  font-size:.7rem;

}
footer a:hover {
  color:#273C49;
  background-color: white;

}

/* Image Gallery */

.gallery-grid-container figure {
  overflow:hidden;
  border-radius: 5px;
  margin:1.5rem;
}
.gallery-grid-container figure:hover {
  /* overflow:hidden; */
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.gallery-grid-container figcaption{
  padding:1rem;
  text-align: center;
}
.gallery-grid-container img[data-src] {
  filter: blur(0.5em);
}
.gallery-grid-container img {
  display: block;
  filter: blur(0em);
  transition: filter .5s;
  overflow: hidden;
  width:100%;
  box-shadow: none;
}

/* main */

.homeMain{
  max-width: 100%;
  margin:auto;
  padding:1rem;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#273c49+0,426f68+51,b9cfa7+99 */
background: rgb(39,60,73); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(39,60,73,1) 0%, rgba(66,111,104,1) 51%, rgba(185,207,167,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(39,60,73,1) 0%,rgba(66,111,104,1) 51%,rgba(185,207,167,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(39,60,73,1) 0%,rgba(66,111,104,1) 51%,rgba(185,207,167,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273c49', endColorstr='#b9cfa7',GradientType=0 ); /* IE6-9 */

  /* background-color: #426F68; */
  
}

.homeHeroContainer{
  display: none;
}
.homeMain h2{
  font-weight: 600;
  text-align: center;
  padding:0 0 .5rem 0;
}
.homeMain h3{
  font-weight: 600;
  text-align: center;
  padding:0 0 .5rem 0;
  font-size: 1.7rem;
}
.homeMain h4{
  font-weight: 600;
  text-align: center;
  padding:0 0 .5rem 0;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.towns{
  width:100%;
}

.town-data {
  width:100%;
  margin:0 auto;
  display: grid;
  grid-template-columns:1fr;
  justify-items:center;
}
.towns section{
  background-color: rgba(0, 0, 0, 0.3);
  margin: .5rem;
  padding: 1rem;
  border-radius: 5px;
  border: solid 3px rgba(0, 0, 0, 0.5)
}
.town-data section{
  width:90%;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
}
.town-data section p {
  text-align: center;
}
.homeMain img{
  width: 100%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}
.motto{
  font-style: italic; 
}
.logo{
  box-shadow: none;
}
.weatherText{
  margin:1rem auto .2rem auto;
}

footer.fullWidth{
  max-width:100%;
}