header,
footer {
  text-align: center;
  background-color: #426F68;
  color: #E3E1CE;
  max-width: 100%;
  margin: 0 auto;
}
header, .color {
  display:flex; 
  flex-flow:row wrap; 
  align-items:center; 
  justify-content:center;
  box-shadow: 0 2px 15px gray;
}
header img {
    max-width: 100px;  
} 
h1 {
  color: #E3E1CE;
  font-family: 'Arvo', serif;
  font-size: 2rem;
  font-weight: 700;
}
nav {
	background-color: #B9CFA7;
	text-align: center;
  box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #273C49;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
  font-size: 0.95rem;
  font-weight: 600;
}
nav a:hover {
	background-color: #426F68;
	color: #E3E1CE;
}
.active {
	color:#6D1A36;
}
main {
  max-width: 100%;
  padding-top: 1rem;
}
.h2h3 {
  text-align: center;
  font-weight: 600;
}
.fl {
  display:flex; 
  flex-flow:row wrap; 
  align-items:center; 
  justify-content:space-evenly;
}
footer, header {
  padding-top: .25rem;
  padding-bottom: .25rem;
}
h2, h3, h4, h5 {
  color: #426F68;
  font-family: 'Arvo', serif;
  padding: 1rem
}
h3 {
  border-bottom: 1px solid #273C49;
  padding-bottom: 1.5rem
}
a {
  color: #E3E1CE;
} 
ul, ol {
  color: #273C49;
  font-family: 'Open Sans', sans-serif;
}
.footertext {
  color: #E3E1CE;
}
#headercolor {
  background-color: #426F68;
  border: #273C49 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  margin: 1rem;
}
#navigation {
  background-color: #B9CFA7;
  border: #273C49 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  margin: 1rem;
}
#headings {
  background-color: #E3E1CE;
  border: #273C49 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  margin: 1rem;
}
#paragraph {
  background-color: #E3E1CE;
  border: #273C49 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  margin: 1rem;
}
.lt {
  color: #E3E1CE;
}
.dk {
  color: #273C49;
}
.med {
  color: #426F68;
}
#typepic {
  border: #273C49 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  margin: 1rem;
}
ol li {
  padding: 0.5rem;}
p {
  color: #273C49;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem;
}
